In [1]:
a=13
b=5

print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)
print(a%b)

18
8
65
371293
2.6
2
3

In [3]:
list = ['a', 'b', 'c', 'd', 'e']
list2 = ['hello', 'python']

print(list)
print(list[2])   #c
print(list[1:3])   #b, c
print(list[2:])   #c, d, e
print(list2 * 2)
print(list + list2)

['a', 'b', 'c', 'd', 'e']
c
['b', 'c']
['c', 'd', 'e']
['hello', 'python', 'hello', 'python']
['a', 'b', 'c', 'd', 'e', 'hello', 'python']

In [11]:
tuple = ('abcd', 786, 2.23, 'john', 70.2)
tuple2 = (123, 'john')

print(tuple)
print(tuple[0])   #abcd
print(tuple[1:3])   #786, 2.23
print(tuple[2:])   #2.23, john, 70.2
print(tuple2 * 2)
print(tuple + tuple2)

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [13]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"
dict2 = {'name' : 'john', 'code':6734, 'dept':'sales'}

print(dict['one'])
print(dict[2])
print(dict2)
print(dict2.keys())
print(dict2.values())

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [14]:
def add(a, b):
    return a+b

a=3
b=4
c=add(a,b)
print(c)

7

In [15]:
import math as m

m.pi

3.141592653589793

In [2]:
import pandas as pd
sd = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], index = ['0', '1', '2', '3', '4'])

sd

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [3]:
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}
sd = pd.Series(dict_data)

type(sd)
sd

a    1
b    2
c    3
dtype: int64

In [5]:
import pandas as pd

list_data = pd.Series(['Dog', 'Cat', 'Tiger', 'Lion', 'Monkey'], index=['0', '1', '2', '3', '4'])
sd = pd.Series(list_data)


type(sd)
sd

0       Dog
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [4]:
import pandas as pd

tup_data = ('윤건우', '2000-01-03', '남')
sd = pd.Series(tup_data, index = ['이름', '생년월일', '성별'])

sd

이름             윤건우
생년월일    2000-01-03
성별               남
dtype: object

In [6]:
#라이브러리
import pandas as pd

#딕셔너리로 데이터프레임 생성
dict_data = {'동물':['Dog','Cat','Tiger','Lion','Monkey'], '나이':[7,9,2,3,1]}
df = pd.DataFrame(dict_data)

#타입 확인
print(type(df))

#데이터 확인
print(df)

<class 'pandas.core.frame.DataFrame'>
       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [7]:
#라이브러리 불러오기
import pandas as pd

#리스트로 데이터프레임 생성
df = pd.DataFrame([['Dog','7'], ['Cat','9'], ['Tiger','2'], ['Lion', '3'], ['Monkey','1']], index = ['0','1','2','3','4'], columns = ['동물', '나이'])
                   
#타입 확인
print(type(df))

#데이터 확인
print(df)

<class 'pandas.core.frame.DataFrame'>
       동물 나이
0     Dog  7
1     Cat  9
2   Tiger  2
3    Lion  3
4  Monkey  1